 
<section id="philosophy" class="min-h-screen py-20 md:py-32 flex items-center justify-center">
    <div class="container mx-auto px-6">
        <div class="grid md:grid-cols-2 gap-12 items-center">
            <div class="text-center md:text-left">
                <h2 class="text-3xl md:text-4xl font-bold text-[#4E4A47] mb-6 font-lora">Di sinilah perjalanan indah Anda sebagai seorang ibu dimulai.</h2>
                <p class="mb-4 text-[#6a6663]">Di Uma Yoga Bali, kami menyediakan ruang yang aman dan menenangkan khusus untuk Anda, para calon ibu. Kami percaya bahwa masa kehamilan adalah momen sakral yang pantas dirayakan dengan penuh kedamaian.</p>
                <p class="text-[#6a6663]">Filosofi kami memadukan kearifan lokal Bali—yang menghargai harmoni antara tubuh, pikiran, dan alam—dengan praktik prenatal modern yang terbukti efektif untuk mendukung kesehatan fisik dan ketenangan jiwa Anda selama masa kehamilan.</p>
            </div>
            <div>
                <img src="asset/image/airlangga.png" alt="Filosofi Uma Yoga Bali">
            </div>
        </div>
    </div>
</section>